<link href="css/style.css" rel="stylesheet" />
<section class="jumbotron text-center">
  <div class="bggambar">
    <img src="/img/download.gif" alt="gweh" width="200" class="gambar rounded-circle img-thumbnail" />
    <h1 class="display-4 fw-bold">Vudy</h1>
    <p class="lead">Orang Gabut || gg gank</p>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#ffffff"
      fill-opacity="1"
      d="M0,224L48,213.3C96,203,192,181,288,165.3C384,149,480,139,576,160C672,181,768,235,864,218.7C960,203,1056,117,1152,96C1248,75,1344,117,1392,138.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
</section>

<section id="about">
  <div class="container">
    <div class="row text-center mb-3">
      <div class="col">
        <h2>About Me</h2>
      </div>
    </div>
    <div class="row justify-content-center fs-5 text-center">
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, omnis dolore. Suscipit architecto maiores deleniti in, blanditiis quo tenetur officia?</p>
      </div>
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate error ex vero! Ut consequuntur possimus voluptatem, numquam temporibus dolor voluptatibus nulla iste? Ratione, eligendi asperiores?</p>
      </div>
    </div>
    <div class="col text-center mb-3">
      <h2>My Skill</h2>
    </div>
    <div class="row justify-content-center fs-5">
      <div class="skill col-md-5">
        <h3>Junior Back End</h3>
        <ul>
          <li>Node JS</li>
          <li>Express JS</li>
          <li>Laravel</li>
        </ul>
      </div>
      <div class="skill col-md-5">
        <h3>Junior Front End</h3>
        <ul>
          <li>CSS</li>
          <li>Boostrap</li>
        </ul>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#464646ef"
      fill-opacity="1"
      d="M0,224L48,229.3C96,235,192,245,288,250.7C384,256,480,256,576,234.7C672,213,768,171,864,133.3C960,96,1056,64,1152,69.3C1248,75,1344,117,1392,138.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
</section>
