<link rel="stylesheet" href="css/style.css" />
<div class="container">
  <div class="row text-center fw-bold">
    <div class="col">
      <h1>Hasil Studi</h1>
    </div>
  </div>
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-md-4 mt-3">
        <div class="card">
          <img src="/img/1.jpg" class="card-img-top" alt="projects 1" />
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div class="card">
          <img src="/img/1.jpg" class="card-img-top" alt="projects 1" />
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div class="card">
          <img src="/img/1.jpg" class="card-img-top" alt="projects 1" />
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center fs-5">
      <div class="col">
        <p class="text-awal fs-4 mt-5 align0ce">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim nobis nulla ipsum corporis? Accusantium, quidem? Harum provident voluptas iste qui modi repellendus error commodi, tempora cum, labore perspiciatis! Incidunt sed
          perspiciatis tenetur debitis asperiores maiores beatae vitae distinctio. Ad culpa ut magnam distinctio. Architecto consequuntur aperiam ut quibusdam nemo quo repellat quasi nam molestias, neque minus optio, accusantium expedita
          vero sint quas ullam qui amet est saepe inventore culpa non perspiciatis? Accusamus a reiciendis similique ad rem? Reprehenderit officiis accusamus voluptatum dolorum sed sapiente commodi ullam. Quis quae, quam natus cum provident
          deserunt! Nihil quos quis culpa, voluptatem minima excepturi omnis itaque esse incidunt adipisci odio corrupti facere mollitia explicabo ab. Distinctio excepturi, repellendus laborum ullam maiores omnis. Corporis magnam delectus
          nostrum repudiandae quidem animi nobis exercitationem eaque placeat in, suscipit iste similique nihil consequuntur fugit cumque nam impedit quis commodi qui eius omnis deserunt. Mollitia nam aliquam numquam laudantium molestias
          distinctio inventore eius placeat itaque. Vel excepturi error autem iste harum aliquid dolorem facere perferendis eveniet. Sit, suscipit culpa tenetur perferendis itaque, ullam sequi aspernatur labore sunt velit veritatis
          inventore vel! Consectetur, aliquam dolores voluptates voluptatibus iusto unde, blanditiis praesentium corporis, enim quae ex ut beatae aliquid quo!
        </p>
      </div>
    </div>
  </div>
</div>
